	<script th:src="@{//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js}"></script>
	<script th:src="@{//code.jquery.com/jquery-1.12.4.js}"></script>
	<script th:src="@{//code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>
	<script type="text/javascript" src="../js/FrontEnd.js"></script>
	
	<link href = "../static/css/FrontEnd.css" th:href="@{/css/FrontEnd.css}" rel = "stylesheet" type="text/css" media = "screen"/>
	<link href = "../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}" rel = "stylesheet" type="text/css" media = "screen"/>

<html ng-app="cs480Med">

    <body>
    	<form action="#" th:action="@{/mainPage}" th:object="${patient}" method="post" id ="MAINSubmit">
        <div id="whole">
            <h1>TITLE OF APP </h1>
            <hr></hr>
    
            <div class="accordion">
                <b>Medications</b>
            </div>
            
            <div class="panel">
                <p>
                    <!-- <form action="#" th:action="@{/mainPage}" th:object="${patient}" method="post" id ="MEDICINE"> -->
    					<table cellpadding="30" cellspacing="0">
    						<tr><input id="searchbox" placeholder="Search Medicines here"/></tr>
    						<p>Your Medicines list:</p>
    						<p>Click on the item to remove</p>
    						<tr><select id="storedMeds" size="9"></select></tr>
    					</table>
    				<!-- </form> -->
                </p>
            </div>
            
            <div class="accordion">
                <b>Lab Results</b>
            </div>
            
            <div class="panel">
                <p>      
                    <!-- <form action="#" th:action="@{/mainPage}" th:object = "${labreport}" method="post" id="LABREPORT"> -->
						<table border="0">
							<tr>
								<td>HGBA1C: </td>
								<td><input type="text" th:field="*{LabReport.HGBA1C}" /></td>
							</tr>
							<tr>
								<td>LDL: </td>
								<td><input type="text" th:field="*{LabReport.LDL}" /></td>
							</tr>
							<tr>
								<td>Microalbumin: </td>
								<td>
									<input type="checkbox" name = "Microalbumin" value="true" th:field="*{LabReport.Microalbumin}"/>Yes
									<input type="checkbox" name = "Microalbumin" value="false" th:field="*{LabReport.Microalbumin}"/>No
								</td>
							</tr>
							<tr>
								<td>GFR: </td>
								<td><input type="text" th:field="*{LabReport.GFR}" /></td>
							</tr>
							<tr>
								<td>PTH</td>
								<td>
                                       <input type="checkbox" name="PTH" th:field="*{labReport.PTH}" value="Low" /> Low
                                       <input type="checkbox" name="PTH" th:field="*{labReport.PTH}" value="Normal" /> Normal
                                       <input type="checkbox" name="PTH" th:field="*{labReport.PTH}" value="High" /> High
                                </td>
                            </tr>
							<tr>
								<td>Calcium: </td>
								<td>
									<input type="checkbox" name = "Calcium" th:field="*{LabReport.Calcium}" value = "Low" /> Low
									<input type="checkbox" name = "Calcium" th:field="*{LabReport.Calcium}" value = "Normal" /> Normal
									<input type="checkbox" name = "Calcium" th:field="*{LabReport.Calcium}" value = "High" /> High
								</td>
							</tr>
						</table>
					<!-- </form> -->
                </p>
            </div>
            
            <div class="accordion">
                <b>Radiology</b>
            </div>
            
            <div class="panel">
                <!-- <form action="#" th:action="@{/mainPage}" th:object="${radiology}" method="post" id="RADIOLOGY"> -->
            
                    <div class="accordion">
                        <b>Cardiac Work-Ups</b>
                    </div>
                
                    <div class="panel">
                        <ul>
                            <p>
                                <li>Electrocardiogram: N/A 
                                    <input type="checkbox" name="ElectroCardioGramCB" th:field="*{radiologyReport.Electrocardiogram}" id = "ElectroCardioGramCB" value="NA" onclick="HideShowNA(DIV0)" />
                                </li>            
                                <div id="DIV0" style="display: none;">
                                    <ul>
                                        <p>
                                            <li>DATE: 
                                                <input type="Date" name="ELECTROCARDIOGRAMDate" th:field="*{radiologyReport.ElecDate}" value="" id="ElectrocardiogramDate" /><br></br>
                                            </li>
                                        </p>
                                        <p>
                                        <ul>
                                            <li>Arrhythmia:
                                                <input type="checkbox" name="Arrhythmia" th:field="*{radiologyReport.Arrhythmia}" value="normal" /> Normal 
                                                <input type="checkbox" name="Arrhythmia" th:field="*{radiologyReport.Arrhythmia}" value="Tachycardia" /> Tachycardia 
                                                <input type="checkbox" name="Arrhythmia" th:field="*{radiologyReport.Arrhythmia}" value="Bradycardia" /> Bradycardia
                                            </li>
                                            <li>Atrial Fibrillation Present: 
                                                <input type="checkbox" name="AFP" th:field="*{radiologyReport.AFP}" value="true" />
                                            </li>
                                            <li>Myocardial Infarction: 
                                                <input type="checkbox" name="MyocardialInfarction" th:field="*{radiologyReport.MI}" value="true" />
                                            </li>
                                            <li>Other: 
                                                <input type="text" size="60" th:field="*{radiologyReport.ElecOther}" name="comments" value="" /><br></br></li>
                                        </ul>
                                        </p>
                                    </ul>
                                </div>
                            </p>
                        </ul>
                        <ul>
                            <p>
                                <li>Echocardiogram: N/A 
                                    <input type="checkbox" th:field="*{radiologyReport.Echocardiogram}" onclick="HideShowNA(DIV1)" />
                                </li>            
                                <div id="DIV1" style="display: none;">
                                    <ul>
                                        <p>
                                        <li>DATE: 
                                            <input type="Date" th:field="*{radiologyReport.EchoDate}" /><br></br>
                                        </li>
                                        </p>
                                        <p>
                                        <ul>
                                            <li>Cardiomegaly: 
                                                <input type="checkbox" th:field="*{radiologyReport.Cardiomegaly}" name="Cardiomegaly" value="true" />
                                            </li>
                                            <li>Cardiomyopathy: 
                                                <input type="checkbox" th:field="*{radiologyReport.Cardiomyopathy}" name="Cardiomyopathy" value="true" />
                                            </li>
                                            <li>Aortic (A.S.P): 
                                                <input type="checkbox" th:field="*{radiologyReport.AASP}" name="AorticASP" value="true" />
                                            </li>
                                            <li>Ejection Fraction: 
                                                <input type="number" th:field="*{radiologyReport.EF}" name="EFpercentage" value=""/>%<br></br></li>
                                            <li>Other: 
                                                <input type="text" size="60" th:field="*{radiologyReport.EchoOther}" name="comments" value=""/><br></br></li>
                                        </ul>
                                        </p>
                                    </ul>
                                </div>
                            </p>
                        </ul>
                    </div>
                    <div class="accordion">
                        <b>X-Rays</b>
                    </div>
                    <div class="panel">
                         <ul>
                            <p>
                                <li>Chest X-Ray: N/A 
                                    <input type="checkbox" th:field="*{radiologyReport.ChestXRay}" name="XraysCB" value="NA" onclick="HideShowNA(DIV2)"/>
                                </li>
                                        
                                <div id="DIV2" style="display: none;">
                                    <ul>
                                        <p>
                                        <li>DATE: 
                                            <input type="Date" th:field="*{radiologyReport.ChestDate}" name="XRAYSDate" value=""/><br></br></li>
                                        </p>
                                        <p>
                                        <li>Possible Diagnosis that can be found:
                                            <ul>
                
                                                <li>Aortic A.S.P: 
                                                    <input type="checkbox" th:field="*{radiologyReport.AorticASP}" name="AorticASP" value="true"/>
                                                </li>
                                                <li>Aortic Aneurysm: 
                                                    <input type="checkbox" th:field="*{radiologyReport.AorticAneurysm}" name="AorticAneurysm" value="true"/>
                                                </li>
                                                <li>Aortic Ectasia: 
                                                    <input type="checkbox" th:field="*{radiologyReport.AorticEctasia}" name="AorticEctasia" value="true"/>
                                                </li>
                                                <li>Aortic Tortuosity: 
                                                    <input type="checkbox" th:field="*{radiologyReport.AorticTortuosity}" name="AorticTortuosity" value="true"/>
                                                </li>
                                                <li>Chronic Obstructive Pulmonary Disease (COPD): 
                                                    <input type="checkbox" th:field="*{radiologyReport.COPD}" name="COPD" value="true"/>
                                                </li>
                                                <li>Pneumonia:
                                                    <input type="checkbox" th:field="*{radiologyReport.Pneumonia}" name="Pneumonia" value="true"/>
                                                </li>
                                                <li>Chronic Bronchitis: 
                                                    <input type="checkbox" th:field="*{radiologyReport.ChronicBronchitis}" name="ChronicBronchitis" value="true"/>
                                                </li>
                                                <li>Pulminary Cystic Fibrosis: 
                                                    <input type="checkbox" th:field="*{radiologyReport.PCF}" name="PCF" value="true"/>
                                                </li>
                                                <li>Cardiomegaly: 
                                                    <input type="checkbox" th:field="*{radiologyReport.Cardiomegaly2}" name="Cardiomegaly" value="true"/>
                                                </li>
                                                <li>Other: 
                                                    <input type="text" size="60" th:field="*{radiologyReport.ChestOther}" name="comments" value=""/><br></br></li>
                                            </ul>
                                        </li>
                                        </p>
                                    </ul>
                                </div>
                                <li>Extremity X-Ray: N/A 
                                    <input type="checkbox" th:field="*{radiologyReport.ExtremityXray}" name="ExtremityXRayCB" value="NA" onclick="HideShowNA(DIV3)"/>
                                </li>
                
                                <div id="DIV3" style="display: none;">
                                    <ul>
                                        <p>
                                        <li>Upper Extremity:N/A 
                                            <input type="checkbox" th:field="*{radiologyReport.UpperEx}" name="UpperExtremityCB" value="NA" onclick="HideShowNA(DIV4)"/>
                                        </li>
                                        </p>
                                        <div id="DIV4" style="display: none;">
                                            <p>
                                            <ul>
                                                <li>DATE: 
                                                    <input type="Date" th:field="*{radiologyReport.UpperDate}" name="UPPEREXTREMITYDate" value=""/><br></br></li>
                                                <li>A.S.P of upper extremity:
                                                    <input type="checkbox" th:field="*{radiologyReport.ASPofUpper}" name="ASPUpperEX" value="Left"/> Left 
                                                    <input type="checkbox" th:field="*{radiologyReport.ASPofUpper}" name="ASPUpperEX" value="Right"/> Right 
                                                    <input type="checkbox" th:field="*{radiologyReport.ASPofUpper}"  name="ASPUpperEX" value="Both"/> Both
                                                </li>
                                            </ul>
                                            </p>
                                        </div>
                                        <p>
                                        <li>Lower Extremity:N/A 
                                            <input type="checkbox" th:field="*{radiologyReport.LowerEx}" name="LowererExtremityCB" value="NA" onclick="HideShowNA(DIV5)" />
                                        </li>
                                        </p>
                                        <div id="DIV5" style="display: none;">
                                            <p>
                                            <ul>
                                                <li>DATE: <input type="Date" th:field="*{radiologyReport.LowerDate}" name="LOWEREXTREMITYDate" value=""/><br></br></li>
                                                <li>A.S.P of lower extremity:
                                                    <input type="checkbox" th:field="*{radiologyReport.ASPofLower}" name="ASPLowerEX" value="Left"/> Left 
                                                    <input type="checkbox" th:field="*{radiologyReport.ASPofLower}" name="ASPLowerEX" value="Right"/> Right 
                                                    <input type="checkbox" th:field="*{radiologyReport.ASPofLower}" name="ASPLowerEX" value="Both"/> Both
                                                </li>
                                            </ul>
                                            </p>
                                        </div>
                                    	<p>
                                    	<li>Other Extremity: N/A
                                        	<input type="checkbox" th:field="*{radiologyReport.OtherEx}" name="OtherExtremityCB" value="NA" onclick="HideShowNA(DIV6)" />
                                    	</li>
                                    	</p>
                                    	<div id="DIV6" style="display: none;">
                                    		<ul>
                                        	<li>DATE: 
                                            	<input type="Date" th:field="*{radiologyReport.OtherExDate}" name="OTHEREXTREMITYDate" value=""/><br></br></li>
                                        	<li>Other: 
                                            	<input type="text" size="60" th:field="*{radiologyReport.OtherExResult}" name="comments" value=""/><br></br></li>
                                    		</ul>
                                    	</div>
                                    </ul>
                                </div>
                            </p>
                        </ul>
                    </div>
                    
                    <div class="accordion">
                        <b>Ultrasound and Doppler Studies</b>
                    </div>
                    <div class="panel">
                        <ul>
                            <p>
                                <li>Abdominal Ultrasound: N/A 
                                    <input type="checkbox" th:field="*{radiologyReport.AbdUS}" name="AbdominalUltrasoundCB" value="NA" onclick="HideShowNA(DIV7)"/>
                                </li>
                
                                <div id="DIV7" style="display: none;">
                                    <ul>
                                        <p>
                                        <li>DATE: 
                                            <input type="Date" th:field="*{radiologyReport.AbdUSDate}" name="ABDOMINALULTRASOUNDDate" value=""/><br></br></li>
                                        </p>
                                        <p>
                                        <li>Possible Diagnosis that can be found:
                                            <ul>
                                                <li>Aortic A.S.P: 
                                                    <input type="checkbox" th:field="*{radiologyReport.AorticASP2}"  name="AorticASP" value="true"/>
                                                </li>
                                                <li>Aortic Aneurysm: 
                                                    <input type="checkbox" th:field="*{radiologyReport.AorticAneurysm2}" name="AorticAneurysm" value="true"/>
                                                </li>
                                                <li>Nephritis: 
                                                    <input type="checkbox" th:field="*{radiologyReport.Nephritis}" name="Nephritis" value="true"/>
                                                </li>
                                                <li>Renal Artery A.S.P: 
                                                    <input type="checkbox" th:field="*{radiologyReport.RenalArteryASP}" name="RenalArteryASP" value="true"/>
                                                </li>
                                                <li>Other: 
                                                    <input type="text" th:field="*{radiologyReport.AbdUSOther}" size="60" name="comments" value=""/><br></br>
                                                </li>
                                            </ul>
                                        </li>
                                        </p>
                                    </ul>
                                </div>
                            </p>
                        </ul>
                
                        <ul>
                            <p>
                                <li>Abdominal Aortic Doppler: N/A 
                                    <input type="checkbox" th:field="*{radiologyReport.AbdAD}"  name="AbdominalAorticDopplerCB" value="NA" onclick="HideShowNA(DIV8)"/>
                                </li>
                
                                <div id="DIV8" style="display: none;">
                                    <ul>
                                        <p>
                                        <li>DATE: 
                                            <input type="Date" th:field="*{radiologyReport.AbdADDate}" name="ABDOMINALAORTICDOPPLERDate" value=""/><br></br></li>
                                        </p>
                                        <p>
                                        <li>Possible Diagnosis that can be found:
                                            <ul>        
                                                <li>Aortic A.S.P: 
                                                    <input type="checkbox" th:field="*{radiologyReport.AorticASP3}" name="AorticASP" value="true"/> 
                                                </li>
                                                <li>Aortic Aneurysm: 
                                                    <input type="checkbox" th:field="*{radiologyReport.AorticAneurysm3}" name="AorticAneurysm" value="true"/> 
                                                </li>
                                                <li>Other: 
                                                    <input type="text" th:field="*{radiologyReport.AbdADOther}" size="60" name="comments" value=""/><br></br></li>
                                            </ul>
                                        </li>
                                    </p>
                                    </ul>
                                </div>
                            </p>
                
                
                            <p>
                                <li>Lower Extremity Doppler: N/A 
                                    <input type="checkbox" th:field="*{radiologyReport.LowerED}" name="LowerExtremityDopplerCB" value="NA" onclick="HideShowNA(DIV9)"/>
                                </li>
                                
                
                                <div id="DIV9" style="display: none;">
                                    <ul>
                                        <p>
                                        <li>DATE: 
                                            <input type="Date" th:field="*{radiologyReport.LowerEDDate}" name="LOWEREXTREMITYDOPPLERDate" value=""/><br></br></li>
                                        </p>
                                        
                                        <li>Monophasic Waves: 
                                            <input type="checkbox" th:field="*{radiologyReport.MonophasicWaves}" name="MonophasicWaves" value="true"/>
                                        </li>
                                        <li>A.S.P of lower extremity:
                                            <input type="checkbox" th:field="*{radiologyReport.LowerEDASPofLower}" name="ASPLowerEX" value="Left"/> Left 
                                            <input type="checkbox" th:field="*{radiologyReport.LowerEDASPofLower}" name="ASPLowerEX" value="Right"/> Right 
                                            <input type="checkbox" th:field="*{radiologyReport.LowerEDASPofLower}" name="ASPLowerEX" value="Both"/> Both 
                                        </li>
                                        <li>Peripheral Vascular Disease: 
                                            <input type="checkbox" th:field="*{radiologyReport.PVD}" name="PVD" value="true"/>
                                        </li>
                
                                    </ul>
                                </div>
                            </p>
                        </ul>
                    </div>
                <!-- </form> -->
            </div>
        
            
            <div class="accordion">
                <b> Specialist Report</b>
            </div>  
            <div class="panel">
                <!-- <form action="#" th:action="@{/mainPage}" th:object="${specialistreport}" method="post" id=""> -->
                    <div class="accordion">
                        <b>Cardiologist Report</b>
                    </div>
                                            
                    <div class="panel">
                        <ul>
                            <p>     
                            </p>
                            <ul>
                                <p>
                                    <li>DATE: 
                                        <input type="Date" th:field="*{specialistReport.CardiologistDate}"/><br></br></li>
                                </p>
                                <p>
                                    <li>Possible Diagnosis that can be found:
                                        <ul>

                                            <li>Hyperlipidemia: 
                                                <input type="checkbox" name="Hyperlipidemia" value="true" th:field="*{specialistReport.Hyperlipidemia}"/>
                                            </li>
                                            <li>Cardiomyopathy: 
                                                <input type="checkbox" name="Cardiomyopathy" value="true" th:field="*{specialistReport.Cardiomyopathy}"/>
                                            </li>
                                            <li>Congestive Heart Failure: 
                                                <input type="checkbox" name="CHF" value="true" th:field="*{specialistReport.CongestiveHeartFailure}"/>
                                            </li>
                                            <li>Atrial Fibrillation: 
                                                <input type="checkbox" name="AtrialFibrillation" value="true" th:field="*{specialistReport.AtrialFibrillation}"/>
                                            </li>
                                            <li>Atrial Flutter: 
                                                <input type="checkbox" name="AtrialFlutter" value="true" th:field="*{specialistReport.AtrialFlutter}"/>
                                            </li>
                                            <li>Deep Vein Thrombosis: 
                                                <input type="checkbox" name="DVT" value="true"  th:field="*{specialistReport.DeepVeinThrombosis}"/>
                                            </li>
                                            <li>Old Myocardial Infarction: 
                                                <input type="checkbox" name="OMI" value="true" th:field="*{specialistReport.OldMyocardialInfarction}"/>
                                            </li>
                                            <li>Angina Pectoris: 
                                                <input type="checkbox" name="AnginaPectoris" value="true" th:field="*{specialistReport.AnginaPectoris}"/>
                                            </li>
                                            <li>Supraventricular Tachycardia: 
                                                <input type="checkbox" name="SupraventricularTachycardia" value="true" th:field="*{specialistReport.SupraventricularTachycardia}"/>
                                            </li>
                                            <li>Hypertentson: 
                                                <input type="checkbox" name="Hypertension" value="true" th:field="*{specialistReport.Hypertension}"/>
                                            </li>
                                            <li>Other: 
                                                <input type="text" th:field="*{specialistReport.CardiologistOther}"/><br></br></li>
                                        
                                        </ul>                                   
                                    </li>
                                </p>                        
                            </ul>                       
                        </ul>
                    </div>
                
                    <div class="accordion">
                        <b>Ophthalmologist Report</b>
                    </div>
                    <div class="panel">
                        <ul>
                            <p>
                            </p>
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" th:field="*{specialistReport.OphthalmologistDate}"/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>

                                        <li>Glaucoma:
                                            <input type="checkbox" name="Glaucoma" value="Left" th:field="*{specialistReport.Glaucoma}"/> Left 
                                            <input type="checkbox" name="Glaucoma" value="Right" th:field="*{specialistReport.Glaucoma}"/> Right 
                                            <input type="checkbox" name="Glaucoma" value="Both" th:field="*{specialistReport.Glaucoma}"/> Both
                                        </li>
                                        <li>Retinopathy:
                                        	<ul>
                                                <li>Proliferative:
                                                    <input type="checkbox" name="Proliferative" value="Left" th:field="*{specialistReport.Proliferative}"/> Left 
                                                    <input type="checkbox" name="Proliferative" value="Right" th:field="*{specialistReport.Proliferative}"/> Right 
                                                    <input type="checkbox" name="Proliferative" value="Both" th:field="*{specialistReport.Proliferative}"/> Both
                                                </li>
                                                <li>Non-Proliferative:
                                                    <input type="checkbox" name="NonProliferative" value="Left" th:field="*{specialistReport.NonProliferative}"/> Left 
                                                    <input type="checkbox" name="NonProliferative" value="Right" th:field="*{specialistReport.NonProliferative}"/> Right 
                                                    <input type="checkbox" name="NonProliferative" value="Both" th:field="*{specialistReport.NonProliferative}"/> Both
                                                </li>
                                            </ul>
                                        </li>

                                        <li>Cataract:
                                            <input type="checkbox" name="Cataract" value="Left" th:field="*{specialistReport.Cataract}"/> Left 
                                            <input type="checkbox" name="Cataract" value="Right" th:field="*{specialistReport.Cataract}"/> Right 
                                            <input type="checkbox" name="Cataract" value="Both" th:field="*{specialistReport.Cataract}"/> Both
                                        </li>
                                        <li>Other: 
                                            <input type="text" th:field="*{specialistReport.OphthalmologistOther}"/><br></br></li>
                                    </ul>
                                </li>
                                </p>
                            </ul>       
                        </ul>
                    </div>
                
                    <div class="accordion">
                        <b>Pulmonologist Report</b>
                    </div>
                    <div class="panel">
                        <ul>
                            <p>     
                            </p>
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" th:field="*{specialistReport.PulmonologistDate}"/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>

                                        <li>Compulsive Obstructive Pulmonary Disease: 
                                            <input type="checkbox" name="COPD" value="true" th:field="*{specialistReport.CompulsiveObstructivePulmonaryDisease}"/>
                                        </li>
                                        <li>Asthma, Asthma Bronchitis: 
                                            <input type="checkbox" name="Asthma" value="true" th:field="*{specialistReport.AsthmaBronchitis}"/>
                                        </li>
                                        <li>Pulmonary Embolism: 
                                            <input type="checkbox" name="PulmonaryEmbolism" value="true" th:field="*{specialistReport.PulmonaryEmbolism}"/>
                                        </li>
                                        <li>Pulmonary Cystic Fibrosis: 
                                            <input type="checkbox" name="PCF" value="true" th:field="*{specialistReport.PulmonaryCysticFibrosis}"/>
                                        </li>

                                        <li>Other: 
                                            <input type="text" th:field="*{specialistReport.PulmonologistOther}"/><br></br></li>
                                    </ul>
                                </li>
                                </p>
                            </ul>   
                        </ul>
                    </div>
                
                
                    <div class="accordion">
                        <b>Neurologist Report</b>
                    </div>
                    <div class="panel">
                        <ul>
                            <p>     
                            </p>
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" th:field="*{specialistReport.NeurologistDate}"/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>

                                        <li>Parkinson's Disease: 
                                            <input type="checkbox" name="ParkinsonsDisease" value="true"  th:field="*{specialistReport.ParkinsonsDisease}"/>
                                        </li>
                                        <li>Seizure Disorder: 
                                            <input type="checkbox" name="SeizureDisorder" value="true" th:field="*{specialistReport.SeizureDisorder}"/>
                                        </li>
                                        <li>Epilepsy: 
                                            <input type="checkbox" name="Epilepsy" value="true" th:field="*{specialistReport.Epilepsy}"/>
                                        </li>
                                        <li>Migrane Headache: 
                                            <input type="checkbox" name="MigraneHeadache" value="true" th:field="*{specialistReport.MigrainHeadache}"/>
                                        </li>
                                        <li>Dementia: 
                                            <input type="checkbox" name="Dementia" value="true" th:field="*{specialistReport.Dementia}"/>
                                        </li>
                                        <li>Alzheimer's Disease: 
                                            <input type="checkbox" name="AlzheimersDisease" value="true" th:field="*{specialistReport.AlzheimersDisease}"/>
                                        </li>
                                        <li>Multiple Sclerosis: 
                                            <input type="checkbox" name="MultipleSclerosis" value="true" th:field="*{specialistReport.MultipleSclerosis1}"/>
                                        </li>
                                        <li>Other: 
                                            <input type="text" th:field="*{specialistReport.NeurologistOther}"/><br></br></li>
                                    </ul>
                                </li>
                                </p>
                            </ul>   
                        </ul>
                    </div>

                
                    <div class="accordion">
                        <b>Psychiatrist/Psychologist Report</b>
                    </div>
                    <div class="panel">
                        <ul>
                            <p>     
                            </p>
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" th:field="*{specialistReport.PsychiatristPsychologistDate}"/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>

                                        <li>Major Depression: 
                                            <input type="checkbox" name="MajorDepression" value="true" th:field="*{specialistReport.MajorDepression}"/>
                                        </li>
                                        <li>Anxiety Disorder: 
                                            <input type="checkbox" name="AnxietyDisorder" value="true" th:field="*{specialistReport.AnxietyDisorder}"/>
                                        </li>
                                        <li>Schizophrenia: 
                                            <input type="checkbox" name="Schizophrenia" value="true" th:field="*{specialistReport.Schizophrenia}"/>
                                        </li>
                                        <li>Bipolar Disease: 
                                            <input type="checkbox" name="BipolarDisease" value="true" th:field="*{specialistReport.BipolarDisease}"/>
                                        </li>
                                        <li>Alcohol Dependence: 
                                            <input type="checkbox" name="AlcoholDependence" value="true" th:field="*{specialistReport.AlcoholDependence}"/>
                                        </li>
                                        <li>Other: 
                                            <input type="text" th:field="*{specialistReport.PsychiatristPsychologistOther}"/><br></br></li>
                                    </ul>
                                </li>
                                </p>
                            </ul>       
                        </ul>
                    </div>
                
                
                    <div class="accordion">
                        <b>Rheumatologist Report</b>
                    </div>
                    <div class="panel">
                        <ul>
                            <p>     
                            </p>
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" th:field="*{specialistReport.RheumatologistDate}"/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>

                                        <li>Rheumatoid Arthritis: 
                                            <input type="checkbox" name="RheumatoidArthritis" value="true" th:field="*{specialistReport.RheumatoidArthritis}"/>
                                        </li>
                                        <li>Systemic Lupus: 
                                            <input type="checkbox" name="SystemicLupus" value="true" th:field="*{specialistReport.SystemicLupus}"/>
                                        </li>
                                        <li>Multiple Sclerosis: 
                                            <input type="checkbox" name="MultipleSclerosis" value="true" th:field="*{specialistReport.MultipleSclerosis2}"/>
                                        </li>
                                        <li>Other: 
                                            <input type="text" th:field="*{specialistReport.RheumatologistOther}"/><br></br></li>
                                    </ul>       
                                </li>
                                </p>
                            </ul>       
                        </ul>
                    </div>
                
                
                    <div class="accordion">
                        <b>Podiatrist Report</b>
                    </div>
                    <div class="panel">
                        <ul>
                            <p>     
                            </p>
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" th:field="*{specialistReport.PodiatristDate}"/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>

                                        <li>Below Knee Amputation:                                      
                                            <input type="checkbox" name="BelowKneeAmputation" value="Left" th:field="*{specialistReport.BelowKneeAmputation}"/> Left 
                                            <input type="checkbox" name="BelowKneeAmputation" value="Right" th:field="*{specialistReport.BelowKneeAmputation}"/> Right 
                                            <input type="checkbox" name="BelowKneeAmputation" value="Both" th:field="*{specialistReport.BelowKneeAmputation}"/> Both
                                        </li>
                                        <li>Above Knee Amputation:
                                            <input type="checkbox" name="AboveKneeAmputation" value="Left" th:field="*{specialistReport.AboveKneeAmputation}"/> Left 
                                            <input type="checkbox" name="AboveKneeAmputation" value="Right" th:field="*{specialistReport.AboveKneeAmputation}"/> Right 
                                            <input type="checkbox" name="AboveKneeAmputation" value="Both" th:field="*{specialistReport.AboveKneeAmputation}"/> Both
                                        </li>

                                        <li>Am: 
                                            <input type="checkbox" name="Am" value="true" th:field="*{specialistReport.Am}"/>
                                        </li>
                                        <li>Poly-Neuropathy: 
                                            <input type="checkbox" name="PolyNeuropathy" value="true" th:field="*{specialistReport.PolyNeuropathy}"/>
                                        </li>
                                        <li>Mono-Neuropathy: 
                                            <input type="checkbox" name="MonoNeuropathy" value="true" th:field="*{specialistReport.MonoNeuropathy}"/>
                                        </li>
                                        <li>Onychomycosis: 
                                            <input type="checkbox" name="Onychomycosis" value="true" th:field="*{specialistReport.Onychomycosis}"/>
                                        </li>
                                        <li>Peripheral Vascular Disease: 
                                            <input type="checkbox" name="PVD" value="true" th:field="*{specialistReport.PeripheralVascularDisease}"/>
                                        </li>
                                        <li>Ulcers of Lower Extremity:
                                            <input type="checkbox" name="UlcersLowerEX" value="Left" th:field="*{specialistReport.UlcersOfLowerExtremity}"/> Left 
                                            <input type="checkbox" name="UlcersLowerEX" value="Right" th:field="*{specialistReport.UlcersOfLowerExtremity}"/> Right 
                                            <input type="checkbox" name="UlcersLowerEX" value="Both" th:field="*{specialistReport.UlcersOfLowerExtremity}"/> Both
                                        </li>
                                        <li>Other: 
                                        <input type="text" th:field="*{specialistReport.PodiatristOther}"/><br></br></li>
                                    </ul>       
                                </li>
                                </p>
                            </ul>       
                        </ul>                   
                    </div>
                <!-- </form> -->
            </div>            
        </div>
        
        <script th:inline="javascript">
             /*<![CDATA[*/
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].onclick = function() {
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                    }
                }

                function HideShowNA(section) {
                    if (section.style.display === 'none') {
                        section.style.display = 'block';
                    } else {
                        section.style.display = 'none';
                    }
                }
             /*]]>*/
            </script> 
            <input type="submit" value="Submit" id = "SubmitButton"/>
    </form>
    </body>
</html>
