<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpecialistReport</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/radiology}" th:object="${radiology}" method="post">
	<div class="accordion">
		<b>Radiology</b>
	</div>
	
	<div class="panel">
		<div class="accordion">
			<b>Cardiac Work-Ups</b>
		</div>
		<div class="panel">
			<ul>
				<p>
					<li>Electrocardiogram: N/A 
	                    <input type="checkbox" name="ElectroCardioGramCB" th:field="*{Electrocardiogram}" id = "ElectroCardioGramCB" value="NA" onclick="HideShowNA(DIV0)" />
	                </li>            
	                <div id="DIV0">
	                    <ul>
	                        <p>
		                        <li>DATE: 
		                            <input type="Date" name="ELECTROCARDIOGRAMDate" th:field="*{ElecDate}" value="" id="ElectrocardiogramDate" /><br></br>
		                        </li>
	                        </p>
	                        <p>
	                        <ul>
	                            <li>Arrhythmia:
	                                <input type="checkbox" name="Arrhythmia" th:field="*{Arrhythmia}" value="normal" /> Normal 
	                                <input type="checkbox" name="Arrhythmia" th:field="*{Arrhythmia}" value="Tachycardia" /> Tachycardia 
	                                <input type="checkbox" name="Arrhythmia" th:field="*{Arrhythmia}" value="Bradycardia" /> Bradycardia
	                            </li>
	                            <li>Atrial Fibrillation Present: 
	                                <input type="checkbox" name="AFP" th:field="*{AFP}" value="true" />
	                            </li>
	                            <li>Myocardial Infarction: 
	                                <input type="checkbox" name="MyocardialInfarction" th:field="*{MI}" value="true" />
	                            </li>
	                            <li>Other: 
	                                <input type="text" size="60" th:field="*{ElecOther}" name="comments" value="" /><br></br></li>
	                        </ul>
	                        </p>
	                    </ul>
	                </div>
				</p>
			</ul>
			<ul>
	            <p>
	                <li>Echocardiogram: N/A 
						<input type="checkbox" th:field="*{Echocardiogram}" onclick="HideShowNA(DIV0)" />
					</li>            
	                <div id="DIV1">
	                    <ul>
	                        <p>
	                        <li>DATE: 
	                            <input type="Date" th:field="*{EchoDate}" /><br></br>
	                        </li>
	                        </p>
	                        <p>
	                        <ul>
	                            <li>Cardiomegaly: 
	                                <input type="checkbox" th:field="*{Cardiomegaly}" name="Cardiomegaly" value="true" />
	                            </li>
	                            <li>Cardiomyopathy: 
	                                <input type="checkbox" th:field="*{Cardiomyopathy}" name="Cardiomyopathy" value="true" />
	                            </li>
	                            <li>Aortic (A.S.P): 
	                                <input type="checkbox" th:field="*{AASP}" name="AorticASP" value="true" />
	                            </li>
	                            <li>Ejection Fraction: 
	                                <input type="number" th:field="*{EF}" name="EFpercentage" value=""/>%<br></br></li>
	                            <li>Other: 
	                                <input type="text" size="60" th:field="*{EchoOther}" name="comments" value=""/><br></br></li>
	                        </ul>
	                        </p>
	                    </ul>
	                </div>
	            </p>
	        </ul>
		</div>
		<div class="accordion">
	        <b>X-Rays</b>
	    </div>
	    <div class="panel">
	         <ul>
	            <p>
	                <li>Chest X-Ray: N/A 
	                    <input type="checkbox" th:field="*{ChestXRay}" name="XraysCB" value="NA" onclick="HideShowNA(DIV2)"/>
	                </li>
	                        
	                <div id="DIV2">
	                    <ul>
	                        <p>
	                        <li>DATE: 
	                            <input type="Date" th:field="*{ChestDate}" name="XRAYSDate" value=""/><br></br></li>
	                        </p>
	                        <p>
	                        <li>Possible Diagnosis that can be found:
	                            <ul>
	
	                                <li>Aortic A.S.P: 
	                                    <input type="checkbox" th:field="*{ChestDiagnosis}" name="AorticASP" value="true"/>
	                                </li>
	                                <li>Aortic Aneurysm: 
	                                    <input type="checkbox" th:field="*{ChestDiagnosis}" name="AorticAneurysm" value="true"/>
	                                </li>
	                                <li>Aortic Ectasia: 
	                                    <input type="checkbox" th:field="*{ChestDiagnosis}" name="AorticEctasia" value="true"/>
	                                </li>
	                                <li>Aortic Tortuosity: 
	                                    <input type="checkbox" th:field="*{ChestDiagnosis}" name="AorticTortuosity" value="true"/>
	                                </li>
	                                <li>Chronic Obstructive Pulmonary Disease (COPD): 
	                                    <input type="checkbox" th:field="*{ChestDiagnosis}" name="COPD" value="true"/>
	                                </li>
	                                <li>Pneumonia:
	                                    <input type="checkbox" th:field="*{ChestDiagnosis}" name="Pneumonia" value="true"/>
	                                </li>
	                                <li>Chronic Bronchitis: 
	                                    <input type="checkbox" th:field="*{ChestDiagnosis}" name="ChronicBronchitis" value="true"/>
	                                </li>
	                                <li>Pulminary Cystic Fibrosis: 
	                                    <input type="checkbox" th:field="*{ChestDiagnosis}" name="PCF" value="true"/>
	                                </li>
	                                <li>Cardiomegaly: 
	                                    <input type="checkbox" th:field="*{ChestDiagnosis}" name="Cardiomegaly" value="true"/>
	                                </li>
	                                <li>Other: 
	                                    <input type="text" size="60" th:field="*{ChestOther}" name="comments" value=""/><br></br></li>
	                            </ul>
	                        </li>
	                        </p>
	                    </ul>
	                </div>
	                <li>Extremity X-Ray: N/A 
	                    <input type="checkbox" th:field="*{ExtremityXray}" name="ExtremityXRayCB" value="NA" onclick="HideShowNA(DIV3)"/>
	                </li>
	
	                <div id="DIV3">
	                    <ul>
	                        <p>
	                        <li>Upper Extremity:N/A 
	                            <input type="checkbox" th:field="*{UpperEx}" name="UpperExtremityCB" value="NA" onclick="HideShowNA(DIV4)"/>
	                        </li>
	                        </p>
	                        <div id="DIV4">
	                            <p>
	                            <ul>
	                                <li>DATE: 
	                                    <input type="Date" th:field="*{UpperDate}" name="UPPEREXTREMITYDate" value=""/><br></br></li>
	                                <li>A.S.P of upper extremity:
	                                    <input type="checkbox" th:field="*{ASPofUpper}" name="ASPUpperEX" value="left"/> Left 
	                                    <input type="checkbox" th:field="*{ASPofUpper}" name="ASPUpperEX" value="Right"/> Right 
	                                    <input type="checkbox" th:field="*{ASPofUpper}"  name="ASPUpperEX" value="Both"/> Both
	                                </li>
	                            </ul>
	                            </p>
	                        </div>
	                        <p>
	                        <li>Lower Extremity:N/A 
	                            <input type="checkbox" th:field="*{LowerEx}" name="LowererExtremityCB" value="NA" onclick="HideShowNA(DIV5)" />
	                        </li>
	                        </p>
	                        <div id="DIV5">
	                            <p>
	                            <ul>
	                                <li>DATE: <input type="Date" th:field="*{LowerDate}" name="LOWEREXTREMITYDate" value=""/><br></br></li>
	                                <li>A.S.P of lower extremity:
	                                    <input type="checkbox" th:field="*{ASPofLower}" name="ASPLowerEX" value="left"/> Left 
	                                    <input type="checkbox" th:field="*{ASPofLower}" name="ASPLowerEX" value="Right"/> Right 
	                                    <input type="checkbox" th:field="*{ASPofLower}" name="ASPLowerEX" value="Both"/> Both
	                                </li>
	                            </ul>
	                            </p>
	                        </div>
	                    </ul>
	                    <p>
	                    <li>Other Extremity: N/A</li>
	                        <input type="checkbox" th:field="*{OtherEx}" name="OtherExtremityCB" value="NA" onclick="HideShowNA(DIV5)" />
	                    </p>
	                    <ul>
	                        <li>DATE: 
	                            <input type="Date" th:field="*{OtherExDate}" name="OTHEREXTREMITYDate" value=""/><br></br></li>
	                        <li>Other: 
	                            <input type="text" size="60" th:field="*{OtherExResult}" name="comments" value=""/><br></br></li>
	                    </ul>
	                </div>
	            </p>
	        </ul>
	    </div>
	    
	    <div class="accordion">
            <b>Ultrasound and Doppler Studies</b>
        </div>
        <div class="panel">
            <ul>
                <p>
                    <li>Abdominal Ultrasound: N/A 
                        <input type="checkbox" th:field="*{AbdUS}" name="AbdominalUltrasoundCB" value="NA" onclick="HideShowNA(DIV6)"/>
                    </li>
    
                    <div id="DIV6">
                        <ul>
                            <p>
                            <li>DATE: 
                                <input type="Date" th:field="*{AbdUSDate}" name="ABDOMINALULTRASOUNDDate" value=""/><br></br></li>
                            </p>
                            <p>
                            <li>Possible Diagnosis that can be found:
                                <ul>
                                    <li>Aortic A.S.P: 
                                        <input type="checkbox" th:field="*{AbdUSDiagnosis}"  name="AorticASP" value="true"/>
                                    </li>
                                    <li>Aortic Aneurysm: 
                                        <input type="checkbox" th:field="*{AbdUSDiagnosis}" name="AorticAneurysm" value="true"/>
                                    </li>
                                    <li>Nephritis: 
                                        <input type="checkbox" th:field="*{AbdUSDiagnosis}" name="Nephritis" value="true"/>
                                    </li>
                                    <li>Renal Artery A.S.P: 
                                        <input type="checkbox" th:field="*{AbdUSDiagnosis}" name="RenalArteryASP" value="true"/>
                                    </li>
                                    <li>Other: 
                                        <input type="text" th:field="*{AbdUSOther}" size="60" name="comments" value=""/><br></br>
                                    </li>
                                </ul>
                            </li>
                            </p>
                        </ul>
                    </div>
                </p>
            </ul>
    
            <ul>
                <p>
                    <li>Abdominal Aortic Doppler: N/A 
                        <input type="checkbox" th:field="*{AbdAD}"  name="AbdominalAorticDopplerCB" value="NA" onclick="HideShowNA(DIV7)"/>
                    </li>
    
                    <div id="DIV7">
                        <ul>
                            <p>
                            <li>DATE: 
                                <input type="Date" th:field="*{AbdADDate}" name="ABDOMINALAORTICDOPPLERDate" value=""/><br></br></li>
                            </p>
                            <p>
                            <li>Possible Diagnosis that can be found:
                                <ul>        
                                    <li>Aortic A.S.P: 
                                        <input type="checkbox" th:field="*{AbdADDiagnosis}" name="AorticASP" value="true"/> 
                                    </li>
                                    <li>Aortic Aneurysm: 
                                        <input type="checkbox" th:field="*{AbdADDiagnosis}" name="AorticAneurysm" value="true"/> 
                                    </li>
                                    <li>Other: 
                                        <input type="text" th:field="*{AbdADOther}" size="60" name="comments" value=""/><br></br></li>
                                </ul>
                            </li>
                        </p>
                        </ul>
                    </div>
                </p>
    
    
                <p>
                    <li>Lower Extremity Doppler: N/A 
                        <input type="checkbox" th:field="*{LowerED}" name="LowerExtremityDopplerCB" value="NA" onclick="HideShowNA(DIV8)"/>
                    </li>
                    
    
                    <div id="DIV8">
                        <ul>
                            <p>
                            <li>DATE: 
                                <input type="Date" th:field="*{LowerEDDate}" name="LOWEREXTREMITYDOPPLERDate" value=""/><br></br></li>
                            </p>
                            
                            <li>Monophasic Waves: 
                                <input type="checkbox" th:field="*{MonophasicWaves}" name="MonophasicWaves" value="true"/>
                            </li>
                            <li>A.S.P of lower extremity:
                                <input type="checkbox" th:field="*{LowerEDASPofLower}" name="ASPLowerEX" value="left"/> Left 
                                <input type="checkbox" th:field="*{LowerEDASPofLower}" name="ASPLowerEX" value="Right"/> Right 
                                <input type="checkbox" th:field="*{LowerEDASPofLower}" name="ASPLowerEX" value="Both"/> Both 
                            </li>
                            <li>Peripheral Vascular Disease: 
                                <input type="checkbox" th:field="*{PVD}" name="PVD" value="true"/>
                            </li>
    
                        </ul>
                    </div>
                </p>
            </ul>
        </div>
	</div>
	<p><input type="submit" value="Submit" /></p>
	</form>
</body>
</html>