<link rel="stylesheet" type="text/css" href="FrontEnd.css" media="screen" />
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/FrontEnd.js"></script>

<html ng-app="cs480Med">

    <body>
        <div id="whole">
            <h1>TITLE OF APP </h1>
            <hr></hr>
    
            <div class="accordion">
                <b>Medications</b>
            </div>
            
            <div class="panel">
                <p>
                    <!-- <form name="Medlist" id = "MEDICINELIST"> -->
                    <form action="#" th:action="@{/person}" th:object="${medicinepage}" method="post">
                        <table cellpadding="30" cellspacing="0">
                              <tr><input id="searchbox" placeholder="Search Medicines here"/></tr>
                              <br></br>
                            <p>Your Medicines list:</p>
                            <p>Click on the item to remove</p>
                              <tr><select id="storedMeds" size="9"></select></tr>
                
                        </table>
                    </form>
                </p>
            </div>
            
            <div class="accordion">
                <b>Lab Results</b>
            </div>
            
            <div class="panel">
                <p>
                    <form action="@{/index}" th:object = "${labreport}" method="post" id="LABREPORT">
                        <table border="0">
                            <tr>
                                <td>DATE: </td>
                                <td><input type="Date" name="LABREPORTDate" value="" /></td>
                                <br></br>
                            </tr>
                            <tr>
                                <td>HGBA1C: </td>
                                <td><input type="text" name="HGBA1C" th:field="*{HGBA1C}" /></td>
                            </tr>
                            <tr>
                                <td>LDL: </td>
                                <td><input type="text" name="LDL" th:field="*{LDL}" /></td>
                            </tr>
                            <tr>
                                <td>Microalbumin: </td>
                                <td>
                                    <input type="checkbox" name = "Microalbumin" value="true" th:field="*{Microalbumin}"/>Yes
                                    <input type="checkbox" name = "Microalbumin" value="false" th:field="*{Microalbumin}"/>No
                                </td>
                            </tr>
                            <tr>
                                <td>GFR: </td>
                                <td><input type="text" name = "GFR" th:field="*{GFR}" /></td>
                            </tr>
                            <tr>
                                <td>PTH: </td>
                                <td><input type="select" name = "PTH" th:field="*{PTH}" items="${lowHigh}" /></td>
                            </tr>
                            <tr>
                                <td>Calcium: </td>
                                <td><input type="select" name = "Calcium" th:field="*{PTH}" items="${lowHigh}" /></td>
                            </tr>
                        </table>
                    </form>
                </p>
            </div>
            
            <div class="accordion">
                <b>Radiology</b>
            </div>
            <div class="panel">
                <div class="accordion">
                    <b>Cardiac Work-Ups</b>
                </div>
                <div class="panel">
            
                    <ul>
                        <p>
                        <form action="ElectroCardioGram.json" method="post" id = "ELECTROCARDIOGRAM">
                            <li>Electrocardiogram: N/A 
                                <input type="checkbox" name="ElectroCardioGramCB" th:field="*{Electrocardiogram}" id = "ElectroCardioGramCB" value="NA" onclick="HideShowNA(DIV0)" />
                            </li>            
                            <div id="DIV0">
                                <ul>
                                    <p>
                                    <li>DATE: 
                                        <input type="Date" name="ELECTROCARDIOGRAMDate" th:field="*{ElecDate}" value="" id="ElectrocardiogramDate" /><br></br></li>
                                    </p>
                                    <p>
                                    <ul>
                                        <li>Arrhythmia:
                                            <input type="checkbox" name="Arrhythmia" th:field="*{Arrhythmia}" value="normal" /> Normal 
                                            <input type="checkbox" name="Arrhythmia" th:field="*{Arrhythmia}" value="Tachycardia" /> Tachycardia 
                                            <input type="checkbox" name="Arrhythmia" th:field="*{Arrhythmia}" value="Bradycardia" /> Bradycardia
                                        </li>
                                        <li>Atrial Fibrillation Present: 
                                            <input type="checkbox" name="AFP" th:field="*{AFP}" value="true" />
                                        </li>
                                        <li>Myocardial Infarction: 
                                            <input type="checkbox" name="MyocardialInfarction" th:field="*{MI}" value="true" />
                                        </li>
                                        <li>Other: 
                                            <input type="text" size="60" th:field="*{ElecOther}" name="comments" value="" /><br></br></li>
                                    </ul>
                                    </p>
                                </ul>
                            </div>
                        </form>
                        </p>
                    </ul>
            
            
                    <ul>
                        <p>
                        <form action="EchoCardioGram.json" method="post" id = "ECHOCARDIOGRAM">
                            <li>Echocardiogram: N/A 
                                <input type="checkbox" id = "EchoCardioGramCB" th:field="*{Echocardiogram}" name="EchoCardioGramCB" value="NA" onclick="HideShowNA(DIV1)" />
                            </li>            
                            <div id="DIV1">
                                <ul>
                                    <p>
                                    <li>DATE: 
                                        <input type="Date" th:field="*{EchoDate}" name="ECHOCARDIOGRAMDate" value="" /><br></br></li>
                                    </p>
                                    <p>
                                    <ul>
                                        <li>Cardiomegaly: 
                                            <input type="checkbox" th:field="*{Cardiomegaly}" name="Cardiomegaly" value="true" />
                                        </li>
                                        <li>Cardiomyopathy: 
                                            <input type="checkbox" th:field="*{Cardiomyopathy}" name="Cardiomyopathy" value="true" />
                                        </li>
                                        <li>Aortic (A.S.P): 
                                            <input type="checkbox" th:field="*{AASP}" name="AorticASP" value="true" />
                                        </li>
                                        <li>Ejection Fraction: 
                                            <input type="number" th:field="*{EF}" name="EFpercentage" value=""/>%<br></br></li>
                                        <li>Other: 
                                            <input type="text" size="60" th:field="*{EchoOther}" name="comments" value=""/><br></br></li>
                                    </ul>
                                    </p>
                                </ul>
                            </div>
                        </form>
                        </p>
                    </ul>
                </div>
            
                <div class="accordion">
                    <b>X-Rays</b>
                </div>
                <div class="panel">
                     <ul>
                        <p>
                        <form action="Xrays.json" method="post" id = "XRAYS">
                            <li>Chest X-Ray: N/A 
                                <input type="checkbox" th:field="*{ChestXRay}" name="XraysCB" value="NA" onclick="HideShowNA(DIV2)"/>
                            </li>
                                    
                            <div id="DIV2">
                                <ul>
                                    <p>
                                    <li>DATE: 
                                        <input type="Date" th:field="*{ChestDate}" name="XRAYSDate" value=""/><br></br></li>
                                    </p>
                                    <p>
                                    <!-- someone bind the these variables to the arraylist elements    
                                    <li>Possible Diagnosis that can be found:
                                        <ul>
            
                                            <li>Aortic A.S.P: 
                                                <input type="checkbox" name="AorticASP" value="true"/>
                                            </li>
                                            <li>Aortic Aneurysm: 
                                                <input type="checkbox" name="AorticAneurysm" value="true"/>
                                            </li>
                                            <li>Aortic Ectasia: 
                                                <input type="checkbox" name="AorticEctasia" value="true"/>
                                            </li>
                                            <li>Aortic Tortuosity: 
                                                <input type="checkbox" name="AorticTortuosity" value="true"/>
                                            </li>
                                            <li>Chronic Obstructive Pulmonary Disease (COPD): 
                                                <input type="checkbox" name="COPD" value="true"/>
                                            </li>
                                            <li>Pneumonia:
                                                <input type="checkbox" name="Pneumonia" value="true"/>
                                            </li>
                                            <li>Chronic Bronchitis: 
                                                <input type="checkbox" name="ChronicBronchitis" value="true"/>
                                            </li>
                                            <li>Pulminary Cystic Fibrosis: 
                                                <input type="checkbox" name="PCF" value="true"/>
                                            </li>
                                            <li>Cardiomegaly: 
                                                <input type="checkbox" name="Cardiomegaly" value="true"/>
                                            </li>
                                            <li>Other: 
                                                <input type="text" size="60" name="comments" value=""/><br></br></li>
                                        </ul>
                                    </li>-->
                                    </p>
                                </ul>
                            </div>
                            <li>Extremity X-Ray: N/A 
                                <input type="checkbox" th:field="*{ExtremityXray}" name="ExtremityXRayCB" value="NA" onclick="HideShowNA(DIV3)"/>
                            </li>
            
                            <div id="DIV3">
                                <ul>
                                    <p>
                                    <li>Upper Extremity:N/A 
                                        <input type="checkbox" th:field="*{UpperEx}" name="UpperExtremityCB" value="NA" onclick="HideShowNA(DIV4)"/>
                                    </li>
                                    </p>
                                    <div id="DIV4">
                                        <p>
                                        <ul>
                                            <li>DATE: 
                                                <input type="Date" th:field="*{UpperDate}" name="UPPEREXTREMITYDate" value=""/><br></br></li>
                                            <li>A.S.P of upper extremity:
                                                <input type="checkbox" th:field="*{ASPofUpper}" name="ASPUpperEX" value="left"/> Left 
                                                <input type="checkbox" th:field="*{ASPofUpper}" name="ASPUpperEX" value="Right"/> Right 
                                                <input type="checkbox" th:field="*{ASPofUpper}"  name="ASPUpperEX" value="Both"/> Both
                                            </li>
                                        </ul>
                                        </p>
                                    </div>
                                    <p>
                                    <li>Lower Extremity:N/A 
                                        <input type="checkbox" th:field="*{LowerEx}" name="LowererExtremityCB" value="NA" onclick="HideShowNA(DIV5)" />
                                    </li>
                                    </p>
                                    <div id="DIV5">
                                        <p>
                                        <ul>
                                            <li>DATE: <input type="Date" th:field="*{LowerDate}" name="LOWEREXTREMITYDate" value=""/><br></br></li>
                                            <li>A.S.P of lower extremity:
                                                <input type="checkbox" th:field="*{ASPofLower}" name="ASPLowerEX" value="left"/> Left 
                                                <input type="checkbox" th:field="*{ASPofLower}" name="ASPLowerEX" value="Right"/> Right 
                                                <input type="checkbox" th:field="*{ASPofLower}" name="ASPLowerEX" value="Both"/> Both
                                            </li>
                                        </ul>
                                        </p>
                                    </div>
                                </ul>
                                <p>
                                <li>Other Extremity: N/A</li>
                                    <input type="checkbox" th:field="*{OtherEx}" name="OtherExtremityCB" value="NA" onclick="HideShowNA(DIV5)" />
                                </p>
                                <ul>
                                    <li>DATE: 
                                        <input type="Date" th:field="*{OtherExDate}" name="OTHEREXTREMITYDate" value=""/><br></br></li>
                                    <li>Other: 
                                        <input type="text" size="60" th:field="*{OtherExResult}" name="comments" value=""/><br></br></li>
                                </ul>
                            </div>
                        </form>
                        </p>
                    </ul>
                </div>
         
                <div class="accordion">
                    <b>Ultrasound and Doppler Studies</b>
                </div>
                <div class="panel">
                    <ul>
                        <p>
                        <form action="AbdominalUltrasound.json" method="post" id = "ABDOMINALULTRASOUND">
                            <li>Abdominal Ultrasound: N/A 
                                <input type="checkbox" th:field="*{AbdUs}" name="AbdominalUltrasoundCB" value="NA" onclick="HideShowNA(DIV6)"/>
                            </li>
            
                            <div id="DIV6">
                                <ul>
                                    <p>
                                    <li>DATE: 
                                        <input type="Date" th:field="*{AbdUSDate}" name="ABDOMINALULTRASOUNDDate" value=""/><br></br></li>
                                    </p>
                                    <p>
                                    <li>Possible Diagnosis that can be found:
                                        <ul>
                                            <!-- someone smart come fix this 
            
                                            <li>Aortic A.S.P: 
                                                <input type="checkbox"  name="AorticASP" value="true"/>
                                            </li>
                                            <li>Aortic Aneurysm: 
                                                <input type="checkbox" name="AorticAneurysm" value="true"/>
                                            </li>
                                            <li>Nephritis: 
                                                <input type="checkbox" name="Nephritis" value="true"/>
                                            </li>
                                            <li>Renal Artery A.S.P: 
                                                <input type="checkbox" name="RenalArteryASP" value="true"/>
                                            </li>
                                            <li>Other: 
                                                <input type="text" th:field="*{AbdUSOther}" size="60" name="comments" value=""/><br></br>
                                            </li>
                                            -->
                                        </ul>
                                    </li>
                                    </p>
                                </ul>
                            </div>
                        </form>
                        </p>
                    </ul>
            
                    <ul>
                        <p>
                        <form action="AbdominalAorticDoppler.json" method="post" id = "ABDOMINALAORTICDOPPLER">
                            <li>Abdominal Aortic Doppler: N/A 
                                <input type="checkbox" th:field="*{AbdAD}"  name="AbdominalAorticDopplerCB" value="NA" onclick="HideShowNA(DIV7)"/>
                            </li>
            
                            <div id="DIV7">
                                <ul>
                                    <p>
                                    <li>DATE: 
                                        <input type="Date" th:field="*{AbdADDate}" name="ABDOMINALAORTICDOPPLERDate" value=""/><br></br></li>
                                    </p>
                                    <p>
                                    <li>Possible Diagnosis that can be found:
                                        <!-- fix this shit bruh needs to be binded to array list
                                        <ul>        
                                            <li>Aortic A.S.P: 
                                                <input type="checkbox" name="AorticASP" value="true"/> 
                                            </li>
                                            <li>Aortic Aneurysm: 
                                                <input type="checkbox" name="AorticAneurysm" value="true"/> 
                                            </li>
                                            <li>Other: 
                                                <input type="text" th:field="*{AbdADOther}" size="60" name="comments" value=""/><br></br></li>
                                        </ul>
                                        -->
            
            
                                    </li>

                                </p>
                                </ul>
                            </div>
                        </form>
                        </p>
            
            
                        <p>
                        <form action="LowerExtremityDoppler.json" method="post" id = "LOWEREXTREMITYDOPPLER">
                            <li>Lower Extremity Doppler: N/A 
                                <input type="checkbox" th:field="*{LowerED}" name="LowerExtremityDopplerCB" value="NA" onclick="HideShowNA(DIV8)"/>
                            </li>
                            
            
                            <div id="DIV8">
                                <ul>
                                    <p>
                                    <li>DATE: 
                                        <input type="Date" th:field="*{LowerEDDate}" name="LOWEREXTREMITYDOPPLERDate" value=""/><br></br></li>
                                    </p>
                                    
                                    <li>Monophasic Waves: 
                                        <input type="checkbox" th:field="*{MonophasicWaves}" name="MonophasicWaves" value="true"/>
                                    </li>
                                    <li>A.S.P of lower extremity:
                                        <input type="checkbox" th:field="*{LowerEDASPofLower}" name="ASPLowerEX" value="left"/> Left 
                                        <input type="checkbox" th:field="*{LowerEDASPofLower}" name="ASPLowerEX" value="Right"/> Right 
                                        <input type="checkbox" th:field="*{LowerEDASPofLower}" name="ASPLowerEX" value="Both"/> Both 
                                    </li>
                                    <li>Peripheral Vascular Disease: 
                                        <input type="checkbox" th:field="*{PVD}" name="PVD" value="true"/>
                                    </li>
            
                                </ul>
                            </div>
                        </form>
                        </p>
            
                    </ul>
                </div>
            </div>
            
            <div class="accordion">
                <b> Specialist Report</b>
            </div>
            
            <div class="panel">
                <div class="accordion">
                    <b>Cardiologist Report</b>
                </div>
                <div class="panel">
                    <ul>
                        <p>
                        <form action="CardiologistReport.json" method="post" id = "CARDIOLOGISTREPORT">
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" name="CARDIOLOGISTREPORTDate" value=""/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>
        
                                        <li>Hyperlipidemia: 
                                            <input type="checkbox" name="Hyperlipidemia" value="true"/>
                                        </li>
                                        <li>Cardiomyopathy: 
                                            <input type="checkbox" name="Cardiomyopathy" value="true"/>
                                        </li>
                                        <li>Congestive Heart Failure: 
                                            <input type="checkbox" name="CHF" value="true"/>
                                        </li>
                                        <li>Atrial Fibrillation: 
                                            <input type="checkbox" name="AtrialFibrillation" value="true"/>
                                        </li>
                                        <li>Atrial Flutter: 
                                            <input type="checkbox" name="AtrialFlutter" value="true"/>
                                        </li>
                                        <li>Deep Vein Thrombosis: 
                                            <input type="checkbox" name="DVT" value="true"/>
                                        </li>
                                        <li>Old Myocardial Infarction: 
                                            <input type="checkbox" name="OMI" value="true"/>
                                        </li>
                                        <li>Angina Pectoris: 
                                            <input type="checkbox" name="AnginaPectoris" value="true"/>
                                        </li>
                                        <li>Supraventricular Tachycardia: 
                                            <input type="checkbox" name="SupraventricularTachycardia" value="true"/>
                                        </li>
                                        <li>Hypertension: 
                                            <input type="checkbox" name="Hypertension" value="true"/>
                                        </li>
                                        <li>Other: 
                                            <input type="text" size="60" name="comments" value=""/><br></br>
                                        </li>
                                    </ul>        
                                </li>
                                </p>
                            </ul>
                        </form>
                        </p>
                    </ul>
                </div>
        
                <div class="accordion">
                    <b>Ophthalmologist Report</b>
                </div>
                <div class="panel">
                    <ul>
                        <p>
                        <form action="OphthalmologistReport.json" method="post" id = "OPHTHALMOLOGISTREPORT">
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" name="OPHTHALMOLOGISTREPORTDate" value=""/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>
        
                                        <li>Glaucoma:
                                            <input type="checkbox" name="Glaucoma" value="left"/> Left 
                                            <input type="checkbox" name="Glaucoma" value="Right"/> Right 
                                            <input type="checkbox" name="Glaucoma" value="Both"/> Both 
                                        </li>
                                        <li>Retinopathy:
                                            <input type="checkbox" name="Retinopathy" value="left"/> Left 
                                            <input type="checkbox" name="Retinopathy" value="Right"/> Right 
                                            <input type="checkbox" name="Retinopathy" value="Both"/> Both 
                                            <ul>
                                                <li>Proliferative:
                                                    <input type="checkbox" name="Proliferative" value="left"/> Left
                                                    <input type="checkbox" name="Proliferative" value="Right"/> Right
                                                    <input type="checkbox" name="Proliferative" value="Both"/> Both
                                                </li>
                                                <li>Non-Proliferative:
                                                    <input type="checkbox" name="NonProliferative" value="left"/> Left 
                                                    <input type="checkbox" name="NonProliferative" value="Right"/> Right 
                                                    <input type="checkbox" name="NonProliferative" value="Both"/> Both 
                                                </li>
                                            </ul>
                                        </li>
        
                                        <li>Cataract:
                                            <input type="checkbox" name="Cataract" value="left"/> Left 
                                            <input type="checkbox" name="Cataract" value="Right"/> Right 
                                            <input type="checkbox" name="Cataract" value="Both"/> Both 
                                        </li>
                                        <li>Other: 
                                            <input type="text" size="60" name="comments" value=""/><br></br></li>
                                        
                                    </ul>
        
                                </li>
                            </p>
                        </ul>
                        </form>
                    </p>
                </ul>
                    
                </div>
        
                <div class="accordion">
                    <b>Pulmonologist Report</b>
                </div>
                <div class="panel">
                    <ul>
                        <p>
                        <form action="PulmonologistReport.json" method="post" id = "PULMONOLOGISTREPORT">
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" name="PULMONOLOGISTREPORTDate" value=""/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>
        
                                        <li>Compulsive Obstructive Pulmonary Disease: 
                                            <input type="checkbox" name="COPD" value="true"/>
                                        </li>
                                        <li>Asthma, Asthma Bronchitis: 
                                            <input type="checkbox" name="Asthma" value="true"/>
                                        </li>
                                        <li>Pulmonary Embolism: 
                                            <input type="checkbox" name="PulmonaryEmbolism" value="true"/>
                                        </li>
                                        <li>Pulmonary Cystic Fibrosis: 
                                            <input type="checkbox" name="PCF" value="true"/>
                                        </li>
        
                                        <li>Other: 
                                            <input type="text" size="60" name="comments" value=""/><br></br>
                                        </li>
                                    </ul>
                                </li>
                                </p>
                             </ul>
                        </form>
                        </p>
                    </ul>
                </div>
        
        
                <div class="accordion">
                    <b>Neurologist Report</b>
                </div>
                <div class="panel">
                    <ul>
                        <p>
                        <form action="NeurologistReport.json" method="post" id = "NEUROLOGISTREPORT">
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" name="NEUROLOGISTREPORTDate" value=""/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>
                                        <li>Parkinson's Disease: 
                                            <input type="checkbox" name="ParkinsonsDisease" value="true"/>
                                        </li>
                                        <li>Seizure Disorder: 
                                            <input type="checkbox" name="SeizureDisorder" value="true"/>
                                        </li>
                                        <li>Epilepsy: 
                                            <input type="checkbox" name="Epilepsy" value="true"/>
                                        </li>
                                        <li>Migrane Headache: 
                                            <input type="checkbox" name="MigraneHeadache" value="true"/>
                                        </li>
                                        <li>Dementia: 
                                            <input type="checkbox" name="Dementia" value="true"/>
                                        </li>
                                        <li>Alzheimer's Disease: 
                                            <input type="checkbox" name="AlzheimersDisease" value="true"/>
                                        </li>
                                        <li>Multiple Sclerosis: 
                                            <input type="checkbox" name="MultipleSclerosis" value="true"/>
                                        </li>
                                        <li>Other: 
                                            <input type="text" size="60" name="comments" value=""/><br></br>
                                        </li>
                                    </ul>
                                </li>
                                </p>
                            </ul>
                        </form>
                        </p>
                    </ul>
                </div>
        
        
                <div class="accordion">
                    <b>Psychiatrist/Psychologist Report</b>
                </div>
                <div class="panel">
                    <ul>
                        <p>
                        <form action="PsychiatristPsychologistReport.json" method="post" id = "PSYCHREPORT">
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" name="PSYCHREPORTDate" value=""/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>
                                        <li>Major Depression: 
                                            <input type="checkbox" name="MajorDepression" value="true"/>
                                        </li>
                                        <li>Anxiety Disorder: 
                                            <input type="checkbox" name="AnxietyDisorder" value="true"/>
                                        </li>
                                        <li>Schizophrenia: 
                                            <input type="checkbox" name="Schizophrenia" value="true"/>
                                        </li>
                                        <li>Bipolar Disease: 
                                            <input type="checkbox" name="BipolarDisease" value="true"/>
                                        </li>
                                        <li>Alcohol Dependence: 
                                            <input type="checkbox" name="AlcoholDependence" value="true"/>
                                        </li>
                                        <li>Other: 
                                            <input type="text" size="60" name="comments" value=""/><br></br>
                                        </li>
                                    </ul>
                                </li>
                                </p>
                            </ul>
                        </form>
                        </p>
                    </ul>
                </div>
        
        
                <div class="accordion">
                    <b>Rheumatologist Report</b>
                </div>
                <div class="panel">
                    <ul>
                        <p>
                        <form action="RheumatologistReport.json" method="post" id = "RHEUMATOLOGISTREPORT">
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" name="RHEUMATOLOGISTREPORTDate" value=""/><br></br></li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>
        
                                        <li>Rheumatoid Arthritis: 
                                            <input type="checkbox" name="RheumatoidArthritis" value="true"/>
                                        </li>
                                        <li>Systemic Lupus: 
                                            <input type="checkbox" name="SystemicLupus" value="true"/>
                                        </li>
                                        <li>Multiple Sclerosis: 
                                            <input type="checkbox" name="MultipleSclerosis" value="true"/>
                                        </li>
                                        <li>Other: 
                                            <input type="text" size="60" name="comments" value=""/><br></br></li>
                                        
                                    </ul>
        
                                </li>
                              </p>
                            </ul>
                        </form>
                      </p>
                    </ul>
                </div>
        
        
                <div class="accordion">
                    <b>Podiatrist Report</b>
                </div>
                <div class="panel">
                    <ul>
                        <p>
                        <form action="PodiatristReport.json" method="post" id = "PODIATRISTREPORT">
                            <ul>
                                <p>
                                <li>DATE: 
                                    <input type="Date" name="PODIATRISTREPORTDate" value=""/><br></br><input/>
                                    </li>
                                </p>
                                <p>
                                <li>Possible Diagnosis that can be found:
                                    <ul>
                                        <li>Below Knee Amputation:
                                            <input type="checkbox" name="BelowKneeAmputation" value="left"/> Left
                                            <input type="checkbox" name="BelowKneeAmputation" value="Right"/> Right
                                            <input type="checkbox" name="BelowKneeAmputation" value="Both"/> Both
                                        </li>
                                        <li>Above Knee Amputation:
                                            <input type="checkbox" name="AboveKneeAmputation" value="left"/> Left
                                            <input type="checkbox" name="AboveKneeAmputation" value="Right"/> Right 
                                            <input type="checkbox" name="AboveKneeAmputation" value="Both"/> Both
                                        </li>
        
                                        <li>Am: 
                                            <input type="checkbox" name="Am" value="true"/>
                                        </li>
                                        <li>Poly-Neuropathy: 
                                            <input type="checkbox" name="PolyNeuropathy" value="true"/>
                                        </li>
                                        <li>Mono-Neuropathy: 
                                            <input type="checkbox" name="MonoNeuropathy" value="true"/>
                                        </li>
                                        <li>Onychomycosis: 
                                            <input type="checkbox" name="Onychomycosis" value="true"/>
                                        </li>
                                        <li>Peripheral Vascular Disease: 
                                            <input type="checkbox" name="PVD" value="true"/>
                                        </li>
                                        <li>Ulcers of Lower Extremity:
                                            <input type="checkbox" name="UlcersLowerEX" value="left"/> Left
                                            <input type="checkbox" name="UlcersLowerEX" value="Right"/> Right
                                            <input type="checkbox" name="UlcersLowerEX" value="Both"/> Both
                                        </li>
                                        <li>Other: 
                                        <input type="text" size="60" name="comments" value=""/>
                                            <br></br>
                                        </li>
                                       
                                    </ul>
                                </li>
                                </p>
                            </ul>
                        </form>
                        </p>
                  .</ul>
                </div>
            </div>
            <!--<script>
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].onclick = function() {
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                    }
                }

                function HideShowNA(section) {
                    if (section.style.display === 'none') {
                        section.style.display = 'block';
                    } else {
                        section.style.display = 'none';
                    }
                }

            </script> -->
            
        <input type="submit" value="Submit" id = "SubmitButton"/>
        </div>
    </body>
</html>
