<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpecialistReport</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form action="#" th:action="@{/specialistreport}" th:object="${specialistreport}" method="post">

	<div class="accordion">
		<b> Specialist Report</b>
	</div>	
	<div class="panel">
		<div class="accordion">
			<b>Cardiologist Report</b>
		</div>
								
			<div class="panel">
				<ul>
					<p>		
					</p>
						<ul>
							<p>
								<li>DATE: 
									<input type="Date" th:field="*{CardiologistDate}"/><br></br></li>
							</p>
							<p>
								<li>Possible Diagnosis that can be found:
									<ul>
		
										<li>Hyperlipidemia: 
											<input type="checkbox" name="Hyperlipidemia" value="true" th:field="*{Hyperlipidemia}"/>
										</li>
										<li>Cardiomyopathy: 
											<input type="checkbox" name="Cardiomyopathy" value="true" th:field="*{Cardiomyopathy}"/>
										</li>
										<li>Congestive Heart Failure: 
											<input type="checkbox" name="CHF" value="true" th:field="*{CongestiveHeartFailure}"/>
										</li>
										<li>Atrial Fibrillation: 
											<input type="checkbox" name="AtrialFibrillation" value="true" th:field="*{AtrialFibrillation}"/>
										</li>
										<li>Atrial Flutter: 
											<input type="checkbox" name="AtrialFlutter"	value="true" th:field="*{AtrialFlutter}"/>
										</li>
										<li>Deep Vein Thrombosis: 
											<input type="checkbox" name="DVT" value="true"  th:field="*{DeepVeinThrombosis}"/>
										</li>
										<li>Old Myocardial Infarction: 
											<input type="checkbox" name="OMI" value="true" th:field="*{OldMyocardialInfarction}"/>
										</li>
										<li>Angina Pectoris: 
											<input type="checkbox" name="AnginaPectoris" value="true" th:field="*{AnginaPectoris}"/>
										</li>
										<li>Supraventricular Tachycardia: 
											<input type="checkbox" name="SupraventricularTachycardia" value="true" th:field="*{SupraventricularTachycardia}"/>
										</li>
										<li>Hypertentson: 
											<input type="checkbox" name="Hypertension" value="true" th:field="*{Hypertension}"/>
										</li>
										<li>Other: 
											<input type="text" th:field="*{CardiologistOther}"/><br></br></li>
									
									</ul>									
								</li>
								
							</p>						
						</ul>						
					</ul>
				</div>
		
				<div class="accordion">
					<b>Ophthalmologist Report</b>
				</div>
				<div class="panel">
					<ul>
						<p>
							</p>
							<ul>
								<p>
								<li>DATE: 
									<input type="Date" th:field="*{OphthalmologistDate}"/><br></br></li>
								</p>
								<p>
								<li>Possible Diagnosis that can be found:
									<ul>
		
										<li>Glaucoma:
											<input type="checkbox" name="Glaucoma" value="left" th:field="*{Glaucoma}"/> Left 
											<input type="checkbox" name="Glaucoma" value="Right" th:field="*{Glaucoma}"/> Right 
											<input type="checkbox" name="Glaucoma" value="Both" th:field="*{Glaucoma}"/> Both
										</li>
										<li>Retinopathy:
											<input type="checkbox" name="Retinopathy" value="left" th:field="*{Retinopathy}"/> Left 
											<input type="checkbox" name="Retinopathy" value="Right" th:field="*{Retinopathy}"/> Right 
											<input type="checkbox" name="Retinopathy" value="Both" th:field="*{Retinopathy}"/> Both
											<ul>
												<li>Proliferative:
													<input type="checkbox" name="Proliferative" value="left" th:field="*{Proliferative}"/> Left 
													<input type="checkbox" name="Proliferative" value="Right" th:field="*{Proliferative}"/> Right 
													<input type="checkbox" name="Proliferative" value="Both" th:field="*{Proliferative}"/> Both
												</li>
												<li>Non-Proliferative:
													<input type="checkbox" name="NonProliferative" value="left" th:field="*{NonProliferative}"/> Left 
													<input type="checkbox" name="NonProliferative" value="Right" th:field="*{NonProliferative}"/> Right 
													<input type="checkbox" name="NonProliferative" value="Both" th:field="*{NonProliferative}"/> Both
												</li>
											</ul>
										</li>
		
										<li>Cataract:
											<input type="checkbox" name="Cataract" value="left" th:field="*{Cataract}"/> Left 
											<input type="checkbox" name="Cataract" value="Right" th:field="*{Cataract}"/> Right 
											<input type="checkbox" name="Cataract" value="Both" th:field="*{Cataract}"/> Both
										</li>
										<li>Other: 
											<input type="text" th:field="*{OphthalmologistOther}"/><br></br></li>
									</ul>
								</li>
							</p>
						</ul>		
					</ul>
				</div>
		
				<div class="accordion">
					<b>Pulmonologist Report</b>
				</div>
				<div class="panel">
					<ul>
						<p>		
							</p>
							<ul>
								<p>
								<li>DATE: 
									<input type="Date" th:field="*{PulmonologistDate}"/><br></br></li>
								</p>
								<p>
								<li>Possible Diagnosis that can be found:
									<ul>
		
										<li>Compulsive Obstructive Pulmonary Disease: 
											<input type="checkbox" name="COPD" value="true" th:field="*{CompulsiveObstructivePulmonaryDisease}"/>
										</li>
										<li>Asthma, Asthma Bronchitis: 
											<input type="checkbox" name="Asthma" value="true" th:field="*{AsthmaBronchitis}"/>
										</li>
										<li>Pulmonary Embolism: 
											<input type="checkbox" name="PulmonaryEmbolism" value="true" th:field="*{PulmonaryEmbolism}"/>
										</li>
										<li>Pulmonary Cystic Fibrosis: 
											<input type="checkbox" name="PCF" value="true" th:field="*{PulmonaryCysticFibrosis}"/>
										</li>
		
										<li>Other: 
											<input type="text" th:field="*{PulmonologistOther}"/><br></br></li>
									</ul>
								</li>
							</p>
						</ul>	
					</ul>
				</div>
		
		
				<div class="accordion">
					<b>Neurologist Report</b>
				</div>
				<div class="panel">
					<ul>
						<p>		
							</p>
							<ul>
								<p>
								<li>DATE: 
									<input type="Date" th:field="*{NeurologistDate}"/><br></br></li>
								</p>
								<p>
								<li>Possible Diagnosis that can be found:
									<ul>
		
										<li>Parkinson's Disease: 
											<input type="checkbox" name="ParkinsonsDisease" value="true"  th:field="*{ParkinsonsDisease}"/>
										</li>
										<li>Seizure Disorder: 
											<input type="checkbox" name="SeizureDisorder" value="true" th:field="*{SeizureDisorder}"/>
										</li>
										<li>Epilepsy: 
											<input type="checkbox" name="Epilepsy" value="true" th:field="*{Epilepsy}"/>
										</li>
										<li>Migrane Headache: 
											<input type="checkbox" name="MigraneHeadache" value="true" th:field="*{MigrainHeadache}"/>
										</li>
										<li>Dementia: 
											<input type="checkbox" name="Dementia" value="true" th:field="*{Dementia}"/>
										</li>
										<li>Alzheimer's Disease: 
											<input type="checkbox" name="AlzheimersDisease" value="true" th:field="*{AlzheimersDisease}"/>
										</li>
										<li>Multiple Sclerosis: 
											<input type="checkbox" name="MultipleSclerosis"	value="true" th:field="*{MultipleSclerosis1}"/>
										</li>
										<li>Other: 
											<input type="text" th:field="*{NeurologistOther}"/><br></br></li>
									</ul>
								</li>
							</p>
						</ul>	
					</ul>
				</div>
		
		
		
		
		
		
		
				<div class="accordion">
					<b>Psychiatrist/Psychologist Report</b>
				</div>
				<div class="panel">
					<ul>
						<p>		
							</p>
							<ul>
								<p>
								<li>DATE: 
									<input type="Date" th:field="*{PsychiatristPsychologistDate}"/><br></br></li>
								</p>
								<p>
								<li>Possible Diagnosis that can be found:
									<ul>
		
										<li>Major Depression: 
											<input type="checkbox" name="MajorDepression" value="true" th:field="*{MajorDepression}"/>
										</li>
										<li>Anxiety Disorder: 
											<input type="checkbox" name="AnxietyDisorder" value="true" th:field="*{AnxietyDisorder}"/>
										</li>
										<li>Schizophrenia: 
											<input type="checkbox" name="Schizophrenia" value="true" th:field="*{Schizophrenia}"/>
										</li>
										<li>Bipolar Disease: 
											<input type="checkbox" name="BipolarDisease" value="true" th:field="*{BipolarDisease}"/>
										</li>
										<li>Alcohol Dependence: 
											<input type="checkbox" name="AlcoholDependence" value="true" th:field="*{AlcoholDependence}"/>
										</li>
										<li>Other: 
											<input type="text" th:field="*{PsychiatristPsychologistOther}"/><br></br></li>
									</ul>
								</li>
							</p>
						</ul>		
					</ul>
				</div>
		
		
				<div class="accordion">
					<b>Rheumatologist Report</b>
				</div>
				<div class="panel">
					<ul>
						<p>		
							</p>
							<ul>
								<p>
								<li>DATE: 
									<input type="Date" th:field="*{RheumatologistDate}"/><br></br></li>
								</p>
								<p>
								<li>Possible Diagnosis that can be found:
									<ul>
		
										<li>Rheumatoid Arthritis: 
											<input type="checkbox" name="RheumatoidArthritis" value="true" th:field="*{RheumatoidArthritis}"/>
										</li>
										<li>Systemic Lupus: 
											<input type="checkbox" name="SystemicLupus"	value="true" th:field="*{SystemicLupus}"/>
										</li>
										<li>Multiple Sclerosis: 
											<input type="checkbox" name="MultipleSclerosis"	value="true" th:field="*{MultipleSclerosis2}"/>
										</li>
										<li>Other: 
											<input type="text" th:field="*{RheumatologistOther}"/><br></br></li>
									</ul>		
								</li>
							</p>
						</ul>		
					</ul>
				</div>
		
		
				<div class="accordion">
					<b>Podiatrist Report</b>
				</div>
				<div class="panel">
					<ul>
						<p>		
							</p>
							<ul>
								<p>
								<li>DATE: 
									<input type="Date" th:field="*{PodiatristDate}"/><br></br></li>
								</p>
								<p>
								<li>Possible Diagnosis that can be found:
									<ul>
		
										<li>Below Knee Amputation:										
											<input type="checkbox" name="BelowKneeAmputation" value="left" th:field="*{BelowKneeAmputation}"/> Left 
											<input type="checkbox" name="BelowKneeAmputation" value="Right" th:field="*{BelowKneeAmputation}"/> Right 
											<input type="checkbox" name="BelowKneeAmputation" value="Both" th:field="*{BelowKneeAmputation}"/> Both
										</li>
										<li>Above Knee Amputation:
											<input type="checkbox" name="AboveKneeAmputation" value="left" th:field="*{AboveKneeAmputation}"/> Left 
											<input type="checkbox" name="AboveKneeAmputation" value="Right" th:field="*{AboveKneeAmputation}"/> Right 
											<input type="checkbox" name="AboveKneeAmputation" value="Both" th:field="*{AboveKneeAmputation}"/> Both
										</li>
		
										<li>Am: 
											<input type="checkbox" name="Am" value="true" th:field="*{Am}"/>
										</li>
										<li>Poly-Neuropathy: 
											<input type="checkbox" name="PolyNeuropathy" value="true" th:field="*{PolyNeuropathy}"/>
										</li>
										<li>Mono-Neuropathy: 
											<input type="checkbox" name="MonoNeuropathy" value="true" th:field="*{MonoNeuropathy}"/>
										</li>
										<li>Onychomycosis: 
											<input type="checkbox" name="Onychomycosis"	value="true" th:field="*{Onychomycosis}"/>
										</li>
										<li>Peripheral Vascular Disease: 
											<input type="checkbox" name="PVD" value="true" th:field="*{PeripheralVascularDisease}"/>
										</li>
										<li>Ulcers of Lower Extremity:
											<input type="checkbox" name="UlcersLowerEX" value="left" th:field="*{UlcersOfLowerExtremity}"/> Left 
											<input type="checkbox" name="UlcersLowerEX" value="Right" th:field="*{UlcersOfLowerExtremity}"/> Right 
											<input type="checkbox" name="UlcersLowerEX" value="Both" th:field="*{UlcersOfLowerExtremity}"/> Both
										</li>
										<li>Other: 
										<input type="text" th:field="*{PodiatristOther}"/><br></br></li>
									</ul>		
								</li>
							</p>
						</ul>		
					</ul>					
				</div>
			</div>
			<p><input type="submit" value="Submit" /></p>	
			
			</form>
		
</body>
</html>